h1,h2,h3,h4,h5,h6,p,td,th {
    color: #00509D;
}


input {
    background: none; 
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}

button {
    background-color: #D7E3FC;
    border: 0px;
    padding: 7px 15px;
    color: #00509D;
    font-weight: bold;
}
