h1,h2,h3,h4,h5,h6,p,td,th {
    color: #00509D;
}


input {
    background: none; 
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}



button {
    font-size: 20px;
    background-color: #D7E3FC;
    border: 0px;
    padding: 7px 15px;
    color: #00509D;
    font-weight: bold;
}

@media (max-width: 768px) {
    .name {
        font-size: 16px;
        font-weight: bold;
    }

    th,td {
        font-size: 10px;
        font-weight: bold;
    }

  
}



