h1,h2,h3,h4,h5,h6,p,a {
    color: #00509D;
}

.color {
    text-decoration: none;
    background-color: #D7E3FC;
    border-radius: 50px;
    padding: 10px 20px;
    border: 3px solid #00509D;
}

.infor {
    text-decoration: none;
    background-color: #D7E3FC;
    border-radius: 50px;
    padding: 10px 20px;
}

.infor img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
}



/* Media query for screens less than or equal to 768px */
@media (max-width: 768px) {
    .color {
        font-size: 28px;
        padding: 5px 8px;
    }

    .infor h3 {
        font-size: 20px;
    }

    .infor .h3 {
        font-size: 20px;
    }

    .infor img {
        width: 30px;
        height: 30px;
    }

}


