h1,h2,h3,h4,h5,h6,p,td,th {
    color: #00509D;
}

.container .name {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    background-color: #D7E3FC;
    border-radius: 50px;
    padding: 10px;
    margin-top: 30px;
    font-weight: bold;
}

@media (max-width: 768px) {

    .container .name {
        font-size: 14px;
    }
    th,td {
        font-size: 11px;
        font-weight: bold;
    }
}
