{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/conclusion.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>หน้าสรุปผลประเมิน</title>
</head>
<body>

    <div class="container mt-5">
        <h3 class="text-center mb-3">สรุปคะแนน</h3>
        <div class="text-center">
        <h3 class="mb-4 name">{{employee.username.first_name}} {{employee.username.last_name}}</h3>
    </div>
        <div class="table-responsive">
            <form action="" method="POST">
                {% csrf_token %}
                <table id="workdata-table" class="table table-bordered">
                    <thead class="thead-dark">
                        <tr class="text-center align-middle">
                            <th data-filter="true" data-filter-type="select">กิจกรรม / โครงการ / งาน</th>
                            <th data-filter="true" data-filter-type="select">ตัวชี้วัด / เกณฑ์การประเมิน</th>
                            <th data-filter="true" data-filter-type="select">เกณท์</th>
                            <th data-filter="true" data-filter-type="select">ผลรวม</th>
                            <th data-filter="true" data-filter-type="select">คะแนนอาจารย์</th>
                            {% if user.employee.position == "Dean" %}
                            <th data-filter="true" data-filter-type="select">คะแนนคณบดี</th>
                            {% else %}
                            <th data-filter="true" data-filter-type="select" style="display: none;">คะแนนคณบดี</th>
                            {% endif %}
                            <th id="sem2Header" data-filter="true" data-filter-type="select">ค่าคะแนนถ่วงน้ำหนัก</th>
                            <th id="sem2Header" data-filter="true" data-filter-type="select">File</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group_name, group_works in grouped_works.items %}
                        <tr>
                            <td rowspan="{{ group_works|length }}">{{ group_name }}</td>
                            <td name="{{group_works.0.work.name.id}}">{{ group_works.0.work.name.description }}</td>
                               
                            <td class="text-center align-middle" style="width: 10%;">
                                ({{group_works.0.total}} - {{group_works.0.work.maxunit}})
                            </td>
                                
                            <td class="text-center align-middle" style="width: 7%;">
                                {{group_works.0.total}}
                            </td>
                            <td  class="align-middle text-center">
                                {% if user.employee.position == 'Dean' %}
                                    {% if user.first_name == employee.username.first_name   %}
                                    <input class="text-center" type="float" value="{{ group_works.0.employee_score }}" name="employee_score_{{ group_works.0.id }}">
                                    {% else %}
                                    {{ group_works.0.employee_score }}
                                    {% endif %}
                                {% else %}
                                <input class="text-center" type="float" value="{{ group_works.0.employee_score }}" name="employee_score_{{ group_works.0.id }}">
                                {% endif %}
                            </td>
                            {% if user.employee.position == 'Dean' %}
                            <td  data-id="{{ group_works.0.work.id }}" class="text-center align-middle">
                                <input class="text-center" type="float" value="{{ group_works.0.dean_score }}" name="dean_score_{{ group_works.0.id }}">
                            </td>
                            {% else %}
                            <td  data-id="{{ group_works.0.work.id }}" class="text-center align-middle" style="display: none;">
                                <input class="text-center" type="float" value="{{ group_works.0.dean_score }}" name="dean_score_{{ group_works.0.id }}">
                            </td>
                            {% endif %}
                                
                            <td  data-id="{{ group_works.0.id }}" class="text-center align-middle">{{group_works.0.result_score}}</td>
                            <td class="text-center align-middle">
                            {% if group_works.0.file %}
                                <a href="{% url 'download_file' group_works.0.id %}">ดาวน์โหลด</a>
                            {% else %}
                                No File
                            {% endif %}</td>
                            
                        </tr>
                        
                           
                        
                            {% for work in group_works|slice:"1:" %}
                                    <tr>
                                        
                                        <td>{{ work.work.name.description }}</td>
                                        
                                            
                                            <td class="text-center align-middle" style="width: 10%;">
                                                ({{work.work.minunit}} - {{work.work.maxunit}}) 
                                            </td>

                                        <td  class="text-center align-middle">
                                            {{work.total}}
                                        </td>
                                        <td  class="align-middle text-center">
                                            {% if user.employee.position == 'Dean' %}
                                                {% if user.first_name == employee.username.first_name   %}
                                                <input class="text-center" type="float" value="{{ work.employee_score }}" name="employee_score_{{work.id}}">
                                                {% else %}
                                                {{ work.employee_score }}
                                                {% endif %}
                                            {% else %}
                                            <input class="text-center" type="float" value="{{ work.employee_score }}" name="employee_score_{{work.id}}">
                                            {% endif %}
                                        </td>
                                        {% if user.employee.position == 'Dean' %}
                                        <td  class="align-middle text-center">
                                            <input class="text-center" type="float" value="{{ work.dean_score }}"  name="dean_score_{{work.id}}">
                                        </td>
                                        {% else %}
                                        <td  class="align-middle text-center" style="display: none;">
                                            <input class="text-center" type="float" value="{{ work.dean_score }}"  name="dean_score_{{work.id}}">
                                        </td>
                                        {% endif %}
                                        <td data-id="{{ work.id }}" class="text-center align-middle">
                                            {{work.result_score|floatformat:2 }}
                                        </td>
                                        <td class="text-center align-middle">
                                        {% if work.file %}
                                            <a href="{% url 'download_file' work.id %}">ดาวน์โหลด</a>
                                        {% else %}
                                            No File
                                        {% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                    <tr class="text-center align-middle">
                                        <td class="text-right" colspan="3">ผลรวม</td>
                                        <td>{{ total_sum }}</td>
                                        <td colspan="4">{{ score_sum|floatformat:2 }}</td>
                                    </tr>
                                    <tr class="text-center align-middle">
                                        <td class="text-left" colspan="3">สรุปคะแนนส่วนผลสัมฤทธิ์ของงาน = </td>
                                        <td colspan="3"> ผลรวมของค่าคะแนนถ่วงน้ำหนัก...{{ score_sum|floatformat:2 }}..../10 =</td>
                                        <td colspan="2">{{ result_sum|floatformat:2 }}</td>
                                    </tr>
                        </tbody>
                        
                    </table>
                        <div class="d-flex justify-content-end mb-3">
                            <button type="submit" style="border-radius: 50px; font-size: 20px;">ยืนยัน</button>
                        </div>
                </form>
            
        </div>
    </div>
   


</body>
</html>