{%  include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลบข้อมูลรายปี</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/delete_data.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

</head>
<body>
   <div class="container text-center mt-5">
    <h2>ลบข้อมูลทั้งหมด</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit">ยืนยันลบข้อมูลทั้งหมด</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Add an event listener to the form
        $('form').submit(function () {
            // Set a flag in local storage to signal the reset
            localStorage.setItem('resetDropdown', 'true');
        });
    });
</script>

</body>
</html>