{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work History</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/formreport.css' %}">

</head>
<body>
    <!-- if user == คณบดี -->
   <div class="container mt-5">
    <h3 class="text-center mb-4">กรอกเกณฑ์</h3>
    <div class="table-responsive">
        <form action="" method="POST">
            {% csrf_token %}
            <table id="workdata-table" class="table table-bordered">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th data-filter="true" data-filter-type="select">กิจกรรม</th>
                        <th data-filter="true" data-filter-type="select">ตัวชี้วัด</th>
                        <th data-filter="true" data-filter-type="select">เกณฑ์</th>
                    </tr>
                </thead>
                <tbody>
                    {% for works in work_units %}
                    <tr>
                        <td rowspan="{{ works.workname.indicator.count }}">{{ works.workname }}</td>
                        <td>{{ works.workname.indicator.all.0 }}</td>
                        <td class="text-center w-50">
                            <input type="number" value="{% if selected_position == 'Dean' %}{{ works.workname.indicator.all.0.unitsfordeans }}{% elif selected_position == 'Lecturer' %}{{ works.workname.indicator.all.0.unitsforlecturers }}{% elif selected_position == 'Researcher' %}{{ works.workname.indicator.all.0.unitsforemployees }}{% endif %}"
                            name="{% if selected_position == 'Dean' %}unitsfordeans_{{ works.workname.indicator.all.0.id }}{% elif selected_position == 'Lecturer' %}unitsforlecturers_{{ works.workname.indicator.all.0.id }}{% elif selected_position == 'Researcher' %}unitsforemployees_{{ works.workname.indicator.all.0.id }}{% endif %}" >

                        </td>
                        
                    </tr>
                    {% for indicator in works.workname.indicator.all|slice:"1:" %}

                    <tr>
                        <td>{{ indicator }}</td>
                        <td class="text-center w-50">
                            <input type="numbers" value="{% if selected_position == 'Dean' %}{{ indicator.unitsfordeans }}{% elif selected_position == 'Lecturer' %}{{  indicator.unitsforlecturers }}{% elif selected_position == 'Researcher' %}{{ indicator.unitsforemployees }}{% endif %}" 
                            name="{% if selected_position == 'Dean' %}unitsfordeans_{{ indicator.id }}{% elif selected_position == 'Lecturer' %}unitsforlecturers_{{ indicator.id }}{% elif selected_position == 'Researcher' %}unitsforemployees_{{ indicator.id }}{% endif %}" >
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button type="submit" style="border-radius: 50px;">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
