{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/formreport.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">

        <h3 class="text-center mb-4">กรอกเทอม</h3>
        <div class="table-responsive">
            <form action="" method="POST">
                {% csrf_token %}
                <table id="workdata-table" class="table table-bordered">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th data-filter="true" data-filter-type="select">กิจกรรม / โครงการ / งาน</th>
                            <th data-filter="true" data-filter-type="select">ตัวชี้วัด / เกณฑ์การประเมิน</th>
                            <th data-filter="true" data-filter-type="select">เกณท์</th>
                            <th data-filter="true" data-filter-type="select">เทอม 1</th>
                            <th id="sem2Header" data-filter="true" data-filter-type="select">เทอม 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for works in result %}
                        <tr>
                            <td rowspan="{{ works.work.workname.indicator.count }}">{{ works.work.workname }}</td>
                            <td> {{works.work.workname.indicator.all.0}} </td>
                            {% if works.employee.position == 'Dean' %}
                            <td class="text-center">{{works.work.workname.indicator.all.0.unitsfordeans}}</td>
                            {% elif works.employee.position == 'Lecturer'  %}
                            <td class="text-center">{{works.work.workname.indicator.all.0.unitsforlecturers}}</td>
                            {% elif works.employee.position == 'Researcher'  %}
                            <td class="text-center">{{works.work.workname.indicator.all.0.unitsforemployees}}</td>
                            {% endif %}

                           <td>
                                <input type="number" name="term1_{{works.id}}" value="{{works.term1}}">
                            </td>
                            <td>
                                <input type="number" name="term2_{{works.id}}" value="{{works.term2}}">
                            </td>
                        </tr>
                        {% for indicator in works.work.workname.indicator.all|slice:"1:" %}
                        <tr>
                            <td>{{ indicator }}</td>
                            {% if works.employee.position == 'Dean' %}
                            <td class="text-center">{{indicator.unitsfordeans}}</td>
                            {% elif works.employee.position == 'Lecturer'  %}
                            <td class="text-center">{{indicator.unitsforlecturers}}</td>
                            {% elif works.employee.position == 'Researcher'  %}
                            <td class="text-center">{{indicator.unitsforemployees}}</td>
                            {% endif %}
                            <td>
                                <input type="number" name="term1_{{indicator.id}}" value="{{indicator.term1}}">
                            </td>
                            <td>
                                    <input type="number" name="term2_{{indicator.id}}"" value="{{indicator.term2}}">
                                </td>
                        </tr>
                        {% endfor %}

                    {% endfor %}
                    
                            </tbody>
                        </table>
                        
                        <div class="d-flex justify-content-end">
                            <button type="submit" style="border-radius: 50px;">Submit</button>
                        </div>
                </form>
            
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const sem2Header = document.getElementById('sem2Header');
                const sem2Cell = document.getElementById('sem2Cell');
        
                // Retrieve the state from Local Storage
                let isColumnVisible = localStorage.getItem('isColumnVisible') === 'true';
        
                // Function to toggle the column visibility
                const toggleColumn = () => {
                    if (isColumnVisible) {
                        // Show เทอม 2
                        sem2Header.style.display = '';
                        sem2Cell.style.display = '';
                    } else {
                        // Hide เทอม 2
                        sem2Header.style.display = 'none';
                        sem2Cell.style.display = 'none';
                    }
                };
        
                console.log('isColumnVisible:', isColumnVisible);
        
                toggleColumn();
            });
        </script>
</body>
</html>