{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/formreport.css' %}">
    <title>หน้ากรอกข้อมูลอาจารย์</title>
</head>
<body>
    <div class="container mt-5">

        <h3 class="text-center mb-4 name">กรอกเทอม</h3>
        <div class="table-responsive">
            <form action="" method="POST">
                {% csrf_token %}
                <table id="workdata-table" class="table table-bordered">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th data-filter="true" data-filter-type="select">กิจกรรม / โครงการ / งาน</th>
                            <th data-filter="true" data-filter-type="select">ตัวชี้วัด / เกณฑ์การประเมิน</th>
                            <th data-filter="true" data-filter-type="select">เกณท์</th>
                            <th data-filter="true" data-filter-type="select">เทอม 1</th>
                            <th id="sem2Header" data-filter="true" data-filter-type="select">เทอม 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group_name, group_works in grouped_works.items %}
                        <tr>
                            <td rowspan="{{ group_works|length }}">{{ group_name }}</td>

                                {% if group_works.0.work.name %}
                                <td name="{{group_works.0.work.name.id}}">{{ group_works.0.work.name.description }}</td>
                                {% else %}
                                <td name="{{group_works.0.name.id}}">{{ group_works.0.name.description }}</td>
                                {% endif %}
                            
                            
                            <td class="text-center align-middle" style="width: 10%;">{%if group_works.0.work.name %}
                                ({{group_works.0.work.minunit}} - {{group_works.0.work.maxunit}})
                                {% else %}
                                ({{group_works.0.minunit}} - {{group_works.0.maxunit}})
                                {% endif %}
                            </td>
                                
                            <td class="align-middle">
                                <input class="text-center"
                                type="number"
                                min="{%if group_works.0.work.name %}{{group_works.0.work.minunit}}{% else %}{{group_works.0.minunit}}{% endif %}"
                                max="{%if group_works.0.work.name %}{{group_works.0.work.maxunit}}{% else %}{{group_works.0.maxunit}}{% endif %}"
                                value="{% if group_works.0.term1 > 0 %}{{ group_works.0.term1 }}{% else %}0{% endif %}"
                                name="{% if group_works.0.work.employee %}term1_{{ group_works.0.work.id }}{% else %}term1_{{ group_works.0.id }}{% endif %}">
                            </td>
                            <td id="sem2Cell" data-id="{{ group_works.0.work.id }}" class="text-center align-middle">
                                <input class="text-center"
                                type="number"
                                min="{%if group_works.0.work.name %}{{group_works.0.work.minunit}}{% else %}{{group_works.0.minunit}}{% endif %}"
                                max="{%if group_works.0.work.name %}{{group_works.0.work.maxunit}}{% else %}{{group_works.0.maxunit}}{% endif %}"
                                value="{% if group_works.0.term2 > 0 %}{{ group_works.0.term2 }}{% else %}0{% endif %}"
                                name="{% if group_works.0.work.employee %}term2_{{ group_works.0.work.id }}{% else %}term2_{{ group_works.0.id }}{% endif %}">
                            </td>
                            
                        </tr>
                        
                        
                            {% for work in group_works|slice:"1:" %}
                                    <tr>
                                        {% if work.work.name %}
                                        <td>{{ work.work.name.description }}</td>
                                            {% else %}
                                            <td>{{ work.name.description }}</td>
                                            {% endif %}

                                            <td class="text-center align-middle" style="width: 10%;">
                                                {% if work.work.name %}
                                                ({{work.work.minunit}} - {{work.work.maxunit}})
                                                {% else %}
                                                ({{work.minunit}} - {{work.maxunit}})
                                                {% endif %}
                                            </td>

                                        <td  class="align-middle">
                                            <input class="text-center"
                                            type="number"
                                            min="{% if work.work.name %}{{work.work.minunit}}{% else %}{{work.minunit}}{% endif %}"
                                            max="{% if work.work.name %}{{work.work.maxunit}}{% else %}{{work.maxunit}}{% endif %}"
                                            value="{% if work.term1 > 0 %}{{ work.term1 }}{% else %}0{% endif %}"
                                            name="{% if work.work.employee %}term1_{{work.name.id}}{% else %}term1_{{work.id}}{% endif %}">
                                        </td>
                                        <td id="sem2Cell" data-id="{{ work.work.id }}" class="align-middle">
                                            <input class="text-center"
                                            type="number"
                                            min="{% if work.work.name %}{{work.work.minunit}}{% else %}{{work.minunit}}{% endif %}"
                                            max="{% if work.work.name %}{{work.work.maxunit}}{% else %}{{work.maxunit}}{% endif %}"
                                            value="{% if work.term2 > 0 %}{{ work.term2 }}{% else %}0{% endif %}"
                                            name="{% if work.work.employee %}term2_{{ work.work.id }}{% else %}term2_{{ work.id }}{% endif %}">
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                <td colspan="3"></td>
                                <td class="term1-total text-center"></td>
                                <td id="sem2Cell" class="term2-total text-center"></td>

                            </tbody>
                        </table>
                        
                        <div class="d-flex justify-content-end mb-3">
                            <button type="submit" style="border-radius: 50px;">ยืนยัน</button>
                        </div>
                </form>
            
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
            const sem2Header = document.getElementById('sem2Header');
            const sem2Cell = document.querySelectorAll('[id^="sem2Cell"]'); // Select all elements with ID starting with 'sem2Cell'

            let isColumnVisible = localStorage.getItem('isColumnVisible') === 'true';

            const toggleColumn = () => {
                if (isColumnVisible) {
                    sem2Header.style.display = '';
                    sem2Cell.forEach(cell => {
                        cell.style.display = '';
                    });
                } else {
                    sem2Header.style.display = 'none';
                    sem2Cell.forEach(cell => {
                        cell.style.display = 'none';
                    });
                }
            };

            toggleColumn();
        });

        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Function to calculate and update totals
                function updateTotals() {
                    let totalTerm1 = 0;
                    let totalTerm2 = 0;

                    document.querySelectorAll('input[name^="term1_"]').forEach(input => {
                        totalTerm1 += Number(input.value) || 0;
                    });

                    document.querySelectorAll('input[name^="term2_"]').forEach(input => {
                        totalTerm2 += Number(input.value) || 0;
                    });

                    document.querySelectorAll('.term1-total').forEach(cell => cell.textContent = totalTerm1);
                    document.querySelectorAll('.term2-total').forEach(cell => cell.textContent = totalTerm2);
                }

                // Initial calculation
                updateTotals();

                // Event listener for changes in input fields
                document.querySelectorAll('input[type="number"]').forEach(input => {
                    input.addEventListener('input', updateTotals);
                });
            });
        </script>

</body>
</html>