{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เลือกตำแหน่งงาน</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/informationuser.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="container text-center">
        <h2 class="name">Sulaiman Charaae</h2>
        <img class="images" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdfcTjke0ma-YjGc4jtV2nnwcarM9Mw045WA&usqp=CAU" alt="80*80">
    
        <div class="row mt-4">
            <div class="col-1 d-flex justify-content-start">
            </div>
            <div class="col-6">
                <p class="h4 d-flex justify-content-start">รายการ</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <p class="h4">เกณฑ์</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <p class="h4">เทอม1</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <p class="h4">เทอม2</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <p class="h4">รวม</p>
            </div>
        </div>

        <div class="row background">
            <div class="col-1 d-flex justify-content-start">
                <p class="h5">1</p>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <p class="h5">งานวิจัยสาขาวิทยาศาสตร์</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <p class="h5">20</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <p class="h5">5</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <p class="h5">0</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <p class="h5">0</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <a href="#" class="save-data" onclick="document.getElementById('fileInput').click(); return false;">
                    <i class="fas fa-save"></i>
                </a>
                <input type="file" id="fileInput" class="hidden-input" />
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
