{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เลือกตำแหน่งงาน</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/informationstaff.css' %}">
    
</head>
<body>
   
    <div class="container">
        <div class="row mt-4">
            <div class="col-6 col-lg-6 d-flex justify-content-start">
                
                <h2 class="color">{{ position }}</h2>
             

            </div>
            <div class="col-6 col-lg-6 d-flex justify-content-end">
                <a id="formreport-link" class="h2 color1" href="{% url 'formreport' %}">กำหนดเกณฑ์</a>
            </div>
            
            
           
        </div>
        {% for text in employees %}
        <div class="row mt-5 infor">
            <div class="col-1 d-flex justify-content-center">
                <h3 class="mt-1 dynamicNumber">1.</h3>
            </div>

            <div class="col-2 d-flex justify-content">
                <img class="mt-1" src="https://media.istockphoto.com/id/517188688/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%A0%E0%B8%B9%E0%B8%A1%E0%B8%B4%E0%B8%97%E0%B8%B1%E0%B8%A8%E0%B8%99%E0%B9%8C%E0%B8%A0%E0%B8%B9%E0%B9%80%E0%B8%82%E0%B8%B2.jpg?s=612x612&w=0&k=20&c=jreXJAxTVORbxURWML1sikQH5SGBbUdb8sL728vnalI=" alt="50*50">
            </div>
            <div class="col-5">
                <h3 class="d-flex justify-content-center mt-1">{{text.username.first_name}} {{text.username.last_name}}</h3>
            </div>
            
            <div class="col-4">
                <a class="h3 d-flex justify-content-end mt-1" href="{% url 'report' text.id %}">รายละเอียดงาน</a>
            </div>
           
        </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const formReportLink = document.getElementById('formreport-link');
        
            formReportLink.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default link behavior
                const currentURL = window.location.href;
                const newURL = currentURL.replace('/informationstaff', '/formreport'); // Modify the URL path
                window.location.href = newURL; // Redirect to the new URL
            });
        });
        </script>
        
        <script>
            // Use JavaScript to dynamically increment the number for each row
            $(document).ready(function () {
                // Select all elements with the class 'dynamicNumber' and iterate over them
                $('.dynamicNumber').each(function (index) {
                    // Update the content of each element with the incremented number
                    $(this).text((index + 1) + ".");
                });
            });
        </script>
        
    
   
    
</body>
</html>
