{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work History</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
    
</head>
<body>


    <!-- Your content goes here -->

    <div class="container mt-5 text-center">
        {% with name=results.first %}
            {% if name %}
                <h3 class="text-center mb-4 name">{{ name.employee.username.first_name }} {{ name.employee.username.last_name }}</h3>
            {% endif %}
        {% endwith %}

        <div class="table-responsive">
        <table id="workdata-table" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th data-filter="true" data-filter-type="select">กิจกรรม / โครงการ / งาน</th>
                    <th data-filter="true" data-filter-type="select">ตัวชี้วัด / เกณฑ์การประเมิน</th>
                    <th data-filter="true" data-filter-type="select">เกณฑ์</th>
                    <th data-filter="true" data-filter-type="select" style="width: 6%;">เทอม 1</th>
                    <th data-filter="true" data-filter-type="select" style="width: 6%;">เทอม 2</th>
                    <th data-filter="true" data-filter-type="select" style="width: 6%;">รวม</th>
                    <!-- <th data-filter="true" data-filter-type="select">file</th> -->

                </tr>
            </thead>
            <tbody>
                {% for group_name, group_works in grouped_works.items %}
                <tr>
                    <td class="text-left" rowspan="{{ group_works|length }}">{{ group_name }}</td>
                    <td class="text-left" name="{{group_works.0.work.name.id}}">{{ group_works.0.work.name.description }}</td>
                    <td class="text-center align-middle" style="width: 12%;">
                        ({{group_works.0.work.minunit}} - {{group_works.0.work.maxunit}})
                    </td>
                    <td class="align-middle">{{ group_works.0.term1 }}</td> 
                    <td class="align-middle">{{ group_works.0.term2 }}</td>  
                    <td class="align-middle">{{ group_works.0.total }}</td>  
                    <!-- <td></td> -->
                </tr>

                {% for work in group_works|slice:"1:" %}
                    <tr>
                       
                        <td class="text-left">{{ work.work.name.description }}</td>
                            <td class="text-center align-middle" style="width: 10%;">
                                 ({{work.work.minunit}} - {{work.work.maxunit}})
                            </td>
                        <td class="align-middle">{{ work.term1 }}</td>
                        <td class="align-middle">{{ work.term2 }}</td>
                        <td class="align-middle">{{ work.total }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        </div>
           
            
       

    
<!-- Include Bootstrap JavaScript and jQuery (optional) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</body>
</html>