{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เลือกตำแหน่งงาน</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/selectfilter.css' %}">
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 mt-5 d-flex justify-content-end">
            <label class="switch">
                <input id="toggleButton" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
            <div class="col-lg-12 mt-5">
                <h1 class="mt-5 color">เลือกตำแหน่งงาน</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4 col-lg-4 dece">
                <a class="h1 dec" href="{% url 'informationstaff' %}?position=Researcher">อาจารย์</a>
            </div>
            <div class="col-4 col-lg-4 dece">
                <a class="h1 dec" href="{% url 'informationstaff' %}?position=Lecturer">รองคณบดี</a>
            </div>
            <div class="col-4 col-lg-4 dece">
                <a class="h1 dec" href="{% url 'informationstaff' %}?position=Dean">คณบดี</a>
            </div>
        </div>
    </div>
</body>
</html>
